<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConn" connectionString="Data Source=(localhost)\SQLEXPRESS ;Initial Catalog=Mobile_Phone_Distribution_Management_System_DB; Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>