@{
    ViewBag.Title = "Home Page";
}


<link href="~/styles/style.css" rel="stylesheet" />
<section class="w3l-forms-main-61">
    <div class="form-inner">
        <div class="wrapper">
            <div class="d-grid top-form">
                <div class="logo">
                    <a class="brand-logo" href="index.html">
                        <span>
                            <span class="fa fa-viadeo"
                                  aria-hidden="true"></span>Welcome to Mobile Phone Distribution Management
                        </span>
                    </a>
                </div>
            </div>
            <div class="form-bg-blur">
                <div class="form-61">
                    <h4 class="form-head">User Login</h4>

                    <form action="Verify" method="POST">
                        <div class="">
                            <p class="text-head">Username</p>
                            <input type="text" name="Username" class="input" required />
                        </div>
                        <div class="">
                            <p class="text-head">Password</p>
                            <input type="password" name="Password" class="input" required />
                        </div>

                        <button type="submit" class="signinbutton btn">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>